@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 6px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #131313;
  display:none;
  border-radius: 6px; /* Color of the track (the area behind the thumb) */
}

::-webkit-scrollbar-thumb {
  background-color: #bebebe; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Radius of the thumb corners */
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f; /* Color of the thumb on hover */
}

.font-brand{
  font-family: "Montserrat", serif;
}
.font-blog{
  font-family: 'Questrial', serif;
}
.font-logo{
  font-family: 'Forum', serif;
}

/* .ql-toolbar{
  border-radius: none;  
   background-color: black;
 
} */

.ql-editor{
  font-family: 'Questrial', serif;
  font-size: 1rem;
  overflow: hidden;
min-height: 15rem;

}